# This is Git's per-user configuration file.
[user]
    name = Andres Mendez 
    signingKey = 62450026535A77DE31138B9D64EE492B0F4B690B
[includeIf "gitdir:~/repos/work/"]
    path = .gitconfig.work
[includeIf "gitdir:~/repos/personal/"]
    path = .gitconfig.personal

[credential]
	helper = store
[maintenance]
	repo = /home/andres.mendez
	repo = /home/andres.mendez/repos/work/afs_stickers
	repo = /home/andres.mendez/repos/personal/tfg
[branch]
	sort = -committerdate
[column]
	ui = auto
[alias]
	fpush = push --force-with-lease
[commit]
	gpgsign = true
